* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    font-size: 10px;
    color: var(--font-main-color);
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root{
    --section-bg-color: rgb(239, 239, 239);
    --font-main-color: #282828;
}

/* IMAGE SIDE */

.container{
    display: flex;
}

.image-side{
    min-width: 35vw;
    height: 100vh;
    background-image: url(markus-winkler-side-image.jpg);
    background-repeat: none;
    background-size: cover;
}

/*FORM SIDE*/

.form-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--section-bg-color);
    gap: 5vh;
}

.form-side > span{
    padding: 0 10vw;
}

h1, h2, h3 {
    padding: 2rem 0;
    font-size: 2.8rem;
}



.form-span{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.form-inputs-section{
    width: 100%;
}

form{
    width: clamp(200px, 25vw, 300px);

}

.inputs{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 20px 0;
}

input{
    width: clamp(200px, 25vw, 300px);
    height: 40px;
    color: var(--font-main-color);
    border: 1px solid #222222;
    border-radius: 1px 1px 2px 2px;
    margin: 0 auto 10px auto;
    transition: all 500ms;
}

input:focus{
    outline: none;
    border-color: rgba(0,0,0,0.1);
}

input::placeholder{
    display: none;
    color: transparent;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

label{
    width: clamp(calc(200px - 2rem), calc(25vw - 2rem), calc(300px - 2rem));
    font-size: 1.4rem;
    color: rgb(117,117,117);
    display: block;
    transform: translate(2rem, -4rem);
    transform-origin: 0 0;
    transition: all 500ms;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

input:focus + label, input:not(:placeholder-shown) + label{
    transform: translateY(-6.75rem) scale(0.8);
}

input:not(:placeholder-shown) {
    border-color: rgba(0, 0 , 0, 0.5);
}

button, button + p, p > a{
    font-size: 1.6rem;
}

button{
font-family: 'Poppins', sans-serif;;
background-color: var(--font-main-color);
color:var(--section-bg-color);
padding: 1.3rem 4rem;
font-size: 1.8rem;
letter-spacing: 1px;
border: 3px solid var(--font-main-color);
transition: 1s ease-in-out;
}

button:hover{
    background-color: var(--section-bg-color);
    color: var(--font-main-color);
    transition: 1s ease-in-out;
    cursor:pointer;
}

p{
    margin: 25px 0;
}

a{
   font-weight: 700; 
}

a:visited{
    color: var()
}